{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}E-webfala{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- load stripe.js -->
    <script src="https://js.stripe.com/v3/"></script>
    <style>
      .dropdown-menu{
        margin-top: 0;
      }
      .dropdown:hover .dropdown-menu, 
      .dropdown-menu:hover, .dropdown-menu:focus{
        display: block;
      }

    </style>   
    {% block extra_css %}{% endblock %}

  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col">
    <header class="bg-white shadow-md">
        <nav class="container mx-auto px-6 py-3">
            <div class="flex justify-between items-center">
                <div class="text-xl font-semibold text-gray-700">
                  <a href="{% url 'home' %}">E-webfala</a>
                </div>
                <div class="border-2 flex gap-4 flex-1 mx-24 rounded-full px-4 py-2">
                  <img src="{% static 'search.svg' %}" alt="search" />
                  <input
                    type="text"
                    placeholder="Search for anything"
                    class="border-none px-2 outline-none w-full"
                  />
                </div>
                <div class="space-x-4">
                  <a href="{% url 'category_list' %}" class="text-gray-600 hover:text-gray-900">Categories</a>
                  <a href="{% url 'course_list' %}" class="text-gray-600 hover:text-gray-900">Courses</a>
                  {% if user.is_authenticated %}
                  <div class="relative inline-block dropdown">
                    <a href="#" class="text-gray-600 hover:text-gray-900">Profile</a>
                    <ul class="absolute top-[100%] hidden left-1/2 transform -translate-x-1/2 mt-2 w-32 bg-white shadow-lg rounded-md divide-y divide-gray-200 text-gray-600 dropdown-menu">
                      <li class="px-4 py-2 hover:bg-gray-100"><a href="{% url 'user_profile_form' %}">Edit Profile</a></li>
                      <li class="px-4 py-2 hover:bg-gray-100"><a href="{% url 'user_profile' %}">View Profile</a></li>
                    </ul>
                  </div>
                  <a href="{% url 'account_logout' %}" class="text-gray-600 hover:text-gray-900">Logout</a>
                  {% else %}
                      <a href="{% url 'account_login' %}" class="text-gray-600 hover:text-gray-900">Login</a>
                      <a href="{% url 'account_signup' %}" class="text-gray-600 hover:text-gray-900">Register</a>
                  {% endif %}
                </div>
          </div>
      </nav>
    </header>

    <main class="container mx-auto px-6 py-6 flex-grow">
      {% block content %} {% endblock %}
    </main>

    <footer class="bg-gray-800 text-white">
      <div class="container mx-auto px-6 py-4">
        <div class="flex justify-between items-center">
          <div>&copy; {% now "Y" %} E-webfala. All rights reserved.</div>
          <div class="space-x-4">
            <a href="#" class="hover:text-gray-300">About</a>
            <a href="#" class="hover:text-gray-300">Contact</a>
            <a href="#" class="hover:text-gray-300">Terms of Service</a>
          </div>
        </div>
      </div>
    </footer>
    {% block extra_js %}{% endblock %}
  </body>
</html>
