{% extends 'extra_base.html' %}

{% block title %}Instructor Profile Form - E-webfala{% endblock %}

{% block content %}

<div class="flex space-x-8 text-lg justify-center font-semibold mb-4">
    <a href="{% url 'user_profile_form' %}" class="text-gray-700 hover:underline {% if request.path == '/accounts/profile_form/' %}underline{% endif %}">Student</a>
    <a href="{% url 'instructor_profile_form' %}" class="text-gray-700 hover:underline {% if request.path == '/accounts/instructor_profile_form/' %}underline{% endif %}">Instructor</a>
</div>

<div>
    <form method="post" action="{% url 'instructor_profile_form' %}" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}
    
        <div class="block m-auto w-fit space-y-1">
            {% if form.profile_pic.value %}
                <div>
                    <img src="{{ form.profile_pic.value.url }}" alt="Profile Picture" class="w-48 h-48 rounded-full object-cover border-4 border-gray-300">
                </div>
            {% endif %}
            <input type="file" name="profile_pic" id="id_profile_pic" class="mt-1 p-2 border rounded-md text-sm" value="{{ form.profile_pic.value }}">
            
            <div class="flex items-center gap-2">
                <label for="id_profile_pic" class="block text-sm font-medium text-gray-700">Profile picture</label> 
                <p class="text-sm font-medium text-gray-700">Save to view!</p>
            </div>
        </div>

        <div>
            <label for="id_first_name" class="block text-sm font-medium text-gray-700">First Name</label>
            <input type="text" name="first_name" id="id_first_name" class="w-full border rounded-md p-2" value="{{ form.first_name.value }}" required>
        </div>
        <div>
            <label for="id_last_name" class="block text-sm font-medium text-gray-700">Last Name</label>
            <input type="text" name="last_name" id="id_last_name" class="w-full border rounded-md p-2" value="{{ form.last_name.value }}" required>
        </div>
        <div>
            <label for="id_bio" class="block text-sm font-medium text-gray-700">Bio</label>
            <textarea name="bio" id="id_bio" rows="4" class="w-full border rounded-md p-2" required>{{ form.bio.value }}</textarea>
            <small class="text-gray-700">{{ form.bio.help_text }}</small>
        </div>

        <div>
            <label for="id_certificates" class="block text-sm font-medium text-gray-700">Upload your CV.</label>
            <input type="file" name="certificates" id="id_certificates" value="{{ form.certificates.value }}" required>
        </div>

        <div>
            <label for="id_courses_to_take" class="block text-sm font-medium text-gray-700">List the courses you want to teach, separated by commas.</label>
            <textarea name="courses_to_take" id="id_courses_to_take" rows="4" class="w-full border rounded-md p-2" required>{{ form.courses_to_take.value }}</textarea>
        </div>

        <div>
            <select name="availability" id="id_availability" class="block w-full border rounded-md p-2">
                {% for value, label in form.availability.field.choices %}
                    <option value="{{ value }}" {% if value == form.availability.value %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
            <small class="text-gray-700">{{ form.availability.help_text }}</small>
        </div>

        <div>
            <label for="id_other_availability_details" class="block text-sm font-medium text-gray-700">Others:</label>
            <input type="text" name="other_availability_details" id="id_other_availability_details" value="{{ form.other_availability_details.value }}" placeholder="If 'Other' is selected, provide details here." class="w-full border rounded-md p-2">
        </div>

        <div>
            <label for="id_teaching_experience" class="justify-center text-sm font-medium text-gray-700">Do you have prior teaching experience?</label>
            <input type="checkbox" name="teaching_experience" id="id_teaching_experience" {% if form.teaching_experience.value %}checked{% endif %}>
        </div>

        {% if form.non_field_errors %}
            <div class="text-red-500 text-sm mt-1">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>

            <div class="text-red-500 text-sm mt-1">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <button type="submit" class="bg-gray-700 hover:bg-gray-800 text-white text-sm p-2 block w-full rounded-md">Save</button>
    </form>
</div>

{% endblock %}