{% extends 'extra_base.html' %}

{% block title %}Password Reset - E-webfala{% endblock %}

{% block content %}
  <!-- Container for the form, centered and styled -->
  <div class="block m-auto w-96 h-auto border mt-12 p-8 rounded-lg shadow-lg flex-grow">
    <h2 class="text-lg font-bold text-center mt-4 text-gray-700">Reset Your Password</h2>
    <!-- Password reset form -->
    <form method="post" action="{% url 'password_reset' %}" class="flex flex-col space-y-4 p-2 mt-4">
      {% csrf_token %}
      
      <!-- Email input -->
      <label for="email" class="text-md text-gray-700 font-medium">Enter your email:</label>
      <input type="email" id="email" name="email" class="border py-2 rounded-md px-3" required>

      <!-- Submit button -->
      <button type="submit" class="bg-blue-500 text-white text-md py-2 rounded-md hover:bg-blue-600">Submit</button>
    </form>
  </div>

 {% endblock %}